.inputbox {
    display: flex;
    margin: 10px 20px;
    position: relative;
    width: 400px;
}

.inputbox input {
    width: 380px;
    padding: 10px;
    border: 1px solid #5c5b5b;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    background: transparent;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 40rem #232B32 inset;
    caret-color: #fff;
}

.inputbox span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    pointer-events: none;
    font-size: 16px;
    color: #D0D9F6;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
    transform: translateX(12px) translateY(-25px);
    font-size: 0.9em;
    padding: 0 10px;
    background: #3AA641;
    color: #D0D9F6;
}

.inputbox input:valid,
.inputbox input:focus {
    border: 1px solid #3AA641;
}

/* .inputbox .choose_image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: auto;
} */
